a{
    height: 50px;
}
a[type="deleteEmployee"]{
    border: solid 1px green;
    border-radius: 5px;
    border-width: 5px;
}
a[type="addEmployee"]{
    border: solid 1px green;
    border-radius: 5px;
    border-width: 5px;
}
a[type="findAll"]{
    border: solid 1px green;
    border-radius: 5px;
    border-width: 5px;}

div[type="content"]{
    min-height: 50px;
    display: flex;
    border: 8px solid black;
    justify-content: center;
    gap: 20px;
    align-content: center;
}

div[type="top"]{
    display: flex;
    border: 4px solid blue;
    align-content: center;
    justify-content: center;
}

.caption{
    line-height: 1.5;
    margin-bottom: 3em;
}

.header{
    height:50px;
    width:100%;
}

